!!! 5
%html{ lang: 'en' }
  %head
    %title Ruby in the Swisscom Application Cloud
    %meta{ charset: 'utf-8' }

    %link{ href: '/stylesheets/comstrap.min.css', rel: 'stylesheet' }

  %body
    .container
      = yield
